<div class="col-sm-3 sidenav">
    <ul style="list-style: none;">
<li><img src="/images/train.png" class="train-status" /><a href="/live">Train Status</a></li>
<li><img src="/images/train.png" class="train-status" /><a href="/pnr">PNR Status</a></li>
<li ><img src="/images/train.png" class="train-status" /><a href="/trains/can" id ="cancelledtrains">Cancelled Trains</a></li>
<li><img src="/images/train.png" class="train-status" /><a href="/trains/rs" id ="resheduled">Resheduled Trains</a></li>
    </ul>
</div>
