<div class="col-sm-2 rightnav">
    <div class="well">
        <p>ADS</p>
    </div>
    <div class="well">
        <p>ADS 2</p>
    </div>
    <div class="well">
        <p>ADS 3</p>
    </div>
    <div class="well">
        <p>ADS 4</p>
    </div>
    <div class="well">
        <p>ADS 5</p>
    </div>
</div>